//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 29 23:06:19 2015
//! **************************************************************************

SCHEMATIC START;
COMP "UART_RxD0" LOCATE = SITE "AD12" LEVEL 1;
COMP "UART_TxD0" LOCATE = SITE "AF11" LEVEL 1;
COMP "user_led<0>" LOCATE = SITE "C16" LEVEL 1;
COMP "user_led<1>" LOCATE = SITE "E16" LEVEL 1;
COMP "user_led<2>" LOCATE = SITE "C17" LEVEL 1;
COMP "user_led<3>" LOCATE = SITE "E17" LEVEL 1;
COMP "user_led<4>" LOCATE = SITE "C18" LEVEL 1;
COMP "user_led<5>" LOCATE = SITE "B18" LEVEL 1;
COMP "user_led<6>" LOCATE = SITE "F18" LEVEL 1;
COMP "user_led<7>" LOCATE = SITE "C19" LEVEL 1;
COMP "user_led<8>" LOCATE = SITE "A20" LEVEL 1;
COMP "user_led<9>" LOCATE = SITE "A19" LEVEL 1;
COMP "seg4x7_1_sel<1>" LOCATE = SITE "V14" LEVEL 1;
COMP "seg4x7_1_sel<2>" LOCATE = SITE "W13" LEVEL 1;
COMP "seg4x7_1_sel<3>" LOCATE = SITE "V13" LEVEL 1;
COMP "seg4x7_1_sel<4>" LOCATE = SITE "U15" LEVEL 1;
COMP "seg4x7_2_sel<1>" LOCATE = SITE "AC16" LEVEL 1;
COMP "seg4x7_2_sel<2>" LOCATE = SITE "AE19" LEVEL 1;
COMP "seg4x7_2_sel<3>" LOCATE = SITE "AD19" LEVEL 1;
COMP "seg4x7_2_sel<4>" LOCATE = SITE "AB18" LEVEL 1;
COMP "user_led<10>" LOCATE = SITE "E19" LEVEL 1;
COMP "user_led<11>" LOCATE = SITE "C20" LEVEL 1;
COMP "user_led<12>" LOCATE = SITE "E20" LEVEL 1;
COMP "user_led<13>" LOCATE = SITE "C21" LEVEL 1;
COMP "user_led<14>" LOCATE = SITE "A21" LEVEL 1;
COMP "user_led<15>" LOCATE = SITE "B20" LEVEL 1;
COMP "seg4x7_1_dp" LOCATE = SITE "W17" LEVEL 1;
COMP "seg4x7_2_dp" LOCATE = SITE "AF18" LEVEL 1;
COMP "sys_clk" LOCATE = SITE "AF13" LEVEL 1;
COMP "user_pb<1>" LOCATE = SITE "J11" LEVEL 1;
COMP "user_pb<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "user_pb<3>" LOCATE = SITE "K12" LEVEL 1;
COMP "user_pb<4>" LOCATE = SITE "J13" LEVEL 1;
COMP "user0_dipsw<0>" LOCATE = SITE "H9" LEVEL 1;
COMP "user0_dipsw<1>" LOCATE = SITE "G9" LEVEL 1;
COMP "user0_dipsw<2>" LOCATE = SITE "G8" LEVEL 1;
COMP "user0_dipsw<3>" LOCATE = SITE "F7" LEVEL 1;
COMP "user0_dipsw<4>" LOCATE = SITE "F12" LEVEL 1;
COMP "user0_dipsw<5>" LOCATE = SITE "B4" LEVEL 1;
COMP "user0_dipsw<6>" LOCATE = SITE "A4" LEVEL 1;
COMP "user0_dipsw<7>" LOCATE = SITE "D5" LEVEL 1;
COMP "seg4x7_1_a" LOCATE = SITE "U13" LEVEL 1;
COMP "seg4x7_1_b" LOCATE = SITE "V11" LEVEL 1;
COMP "seg4x7_1_c" LOCATE = SITE "V16" LEVEL 1;
COMP "seg4x7_1_d" LOCATE = SITE "Y18" LEVEL 1;
COMP "seg4x7_2_a" LOCATE = SITE "AD17" LEVEL 1;
COMP "seg4x7_1_e" LOCATE = SITE "AA19" LEVEL 1;
COMP "seg4x7_2_b" LOCATE = SITE "AC20" LEVEL 1;
COMP "seg4x7_1_f" LOCATE = SITE "U12" LEVEL 1;
COMP "seg4x7_2_c" LOCATE = SITE "AF19" LEVEL 1;
COMP "seg4x7_1_g" LOCATE = SITE "V15" LEVEL 1;
COMP "seg4x7_2_d" LOCATE = SITE "AF17" LEVEL 1;
COMP "seg4x7_2_e" LOCATE = SITE "AF16" LEVEL 1;
COMP "seg4x7_2_f" LOCATE = SITE "AE17" LEVEL 1;
COMP "seg4x7_2_g" LOCATE = SITE "AD21" LEVEL 1;
COMP "user1_dipsw<0>" LOCATE = SITE "C5" LEVEL 1;
COMP "user1_dipsw<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "user1_dipsw<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "user1_dipsw<3>" LOCATE = SITE "D6" LEVEL 1;
COMP "user1_dipsw<4>" LOCATE = SITE "E6" LEVEL 1;
COMP "user1_dipsw<5>" LOCATE = SITE "D7" LEVEL 1;
COMP "user1_dipsw<6>" LOCATE = SITE "C7" LEVEL 1;
COMP "user1_dipsw<7>" LOCATE = SITE "D8" LEVEL 1;
COMP "user2_dipsw<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "user2_dipsw<1>" LOCATE = SITE "E9" LEVEL 1;
COMP "user2_dipsw<2>" LOCATE = SITE "C9" LEVEL 1;
COMP "user2_dipsw<3>" LOCATE = SITE "E10" LEVEL 1;
COMP "user2_dipsw<4>" LOCATE = SITE "C10" LEVEL 1;
COMP "user2_dipsw<5>" LOCATE = SITE "D10" LEVEL 1;
COMP "user2_dipsw<6>" LOCATE = SITE "C11" LEVEL 1;
COMP "user2_dipsw<7>" LOCATE = SITE "E12" LEVEL 1;
COMP "user3_dipsw<0>" LOCATE = SITE "C12" LEVEL 1;
COMP "user3_dipsw<1>" LOCATE = SITE "F13" LEVEL 1;
COMP "user3_dipsw<2>" LOCATE = SITE "D13" LEVEL 1;
COMP "user3_dipsw<3>" LOCATE = SITE "H15" LEVEL 1;
COMP "user3_dipsw<4>" LOCATE = SITE "F14" LEVEL 1;
COMP "user3_dipsw<5>" LOCATE = SITE "E14" LEVEL 1;
COMP "user3_dipsw<6>" LOCATE = SITE "H16" LEVEL 1;
COMP "user3_dipsw<7>" LOCATE = SITE "F16" LEVEL 1;
COMP "sys_rstn" LOCATE = SITE "K14" LEVEL 1;
SCHEMATIC END;

